.App {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: #FFF2D0;
    font-family: Arial, sans-serif;
    padding-top: 15vh;
    padding-bottom: 5vh;
}