.heading1{
background-color: #FFC544;
text-align: center;
margin-top: 1vh;
border-radius: 2vh;
height: 7vh;
}
.col-6{
    background-color: aliceblue;
    border-radius: 3vh;
    margin-bottom: 10vh;
}
.queue{
    margin-top: 3vh;
    background-color: #FFC544;
    margin-bottom: 3vh;
    border-radius: 2vh;
}